Hiya,
I need a #{@job.job_type.name} on 
#{@job.date.strftime("%b %d")} 
- if @job.work_unit.hours < 23
  starting at #{@job.time.strftime("%I:%M%P")} 
for #{pluralize(@job.duration,@job.work_unit.name)} 
and I thought of you.

Do me this favor and I'll give you #{pluralize(@job.stars,'Star')}.

Could you help me out?

thanks!

= @creator.name
      
