%html
  %head
  %body
    %p Hiya,
    %p 
      I need a #{@job.job_type.name}
      on 
      %b
        #{@job.date.strftime("%b %d")} 
      - unless @job.job_type.is_misc
        - if @job.work_unit.hours < 23
          starting at #{@job.time_in_zone.strftime("%I:%M%p (%Z)")} 
        for #{pluralize(@job.duration,@job.work_unit.name)} 
      and I thought of you.
      - unless @job.description.nil?
        %p 
          %b more details:
          %br
          %pre
            = @job.description
    %p
      Do me this favor and I'll give you #{pluralize(@job.stars,'Star')}.
      %br
      %a{:href => sign_up_for_job_url( :id => @job.id,:only_path => false )} Yes 
      I can do it     
    %p
      thanks!
      %br
      = @creator.name
      
      