%html
  %head
  %body
    %p Hiya,
    %p 
      The #{@job.job_type.name} job got done! 
      
      #{@job.worker} did their job on #{@job.date.strftime("%b %d")}, so we have transferred #{@job.stars} stars from 
      #{@job.user}'s account to theirs.
      
