%h1 Listing audits
%table
  %tr
    %th created_at
    %th Audited
    %th Type
    %th Associated
    %th Type
    %th action
    %th audited_changes
  - @audits.each do |audit|
    %tr
      %td= audit.created_at
      %td
        - unless audit.auditable_object.nil?
          = audit.auditable_object
      %td 
        (#{audit.auditable_type})
      %td= audit.associated_object
      %td
        (#{audit.associated_type})
      %td= audit.action
      %td= audit.audited_changes
