%p
  - if @job.worker.nil?
    - if current_user == @job.user
      You need a #{@job.job_type.name}.
    - else 
      #{@job.user} needs a #{@job.job_type.name}.
  - else
    - if current_user == @job.user
      #{@job.worker.name} #{@job.job_type.future} for you.
    - elsif current_user == @job.worker
      You will #{@job.job_type.future} for #{@job.user}.
    - else
      #{@job.worker.name} will #{@job.job_type.future} for #{@job.user}.


%p
  Date: #{@job.date.strftime("%A, %B %d")} <br/>
  - unless @job.job_type.is_misc
    - if @job.work_unit.hours < 23
      Time: #{@job.time_in_zone.strftime("%I:%M%p (%Z)")} <br/>
    #{pluralize(@job.duration,@job.work_unit.name)} 

- unless @job.description.empty?
  %p
    Details:<br/>
    #{@job.description}

%p
  For: #{@job.user}<br/>
  - unless @job.user.phone.nil?
    phone: 
    %a{ :target => "_self", :href => "tel:#{@job.user.phone}" }
      #{number_to_phone(@job.user.phone)}<br/>
  email:
  %a{ :target => "_new", :href => "mailto:#{@job.user.email}" }
    #{@job.user.email}

- if current_user == @job.user || current_user == @job.worker
  %p
    #{ link_to 'Need to cancel this?', cancel_job_assignment_path(@job) }
