= simple_form_for @job do |f|
  = f.error_notification
  .madlibs
    I want babysitting on
    = f.input :date, :as => :ui_date_picker, :input_html => { :maxlength => 8 }  
    at
    = f.input :time
    for
    = f.input :duration, :collection => 1..10, :include_blank => false
    hours, worth
    = f.input :stars, :collection => 1..10, :include_blank => false
    stars.
    %p.more 
      = f.input :description, :as => :string

  .actions
    = f.button :submit