= simple_form_for @job do |f|
  = f.error_notification
  .inputs
    = f.association :circle
    = f.input :description
    = f.input :stars, :collection => 1..10 
    = f.input :location
    = f.input :date, :as => :ui_date_time_picker
  .actions
    = f.button :submit