- require "json"
- @num_collection = [["one",1],["two",2],["three",3],["four",4],["five",5],["six",6],["seven",7],["eight",8],["nine",9],["ten",10],["eleven",11],["twelve",12]]
- @star_collection = [["one star",1],["two stars",2],["three stars",3],["four stars",4],["five stars",5]]
- @time_class = "hide"
- if @job.job_type.work_unit.hours < 24
  - @time_class = "show"

:javascript
  var $job_types = [];
  #{
    Array[@job_types.map { |r| "$job_types[#{r.id}] = {'name':'#{r.name}','stars':'#{r.stars}','unit':'#{r.work_unit.name}','hours':'#{r.work_unit.hours}'};" }].join ' '
  }

%section  
  = simple_form_for @job do |f|
    = f.error_notification
    .madlibs
      I want a    
      = f.association :job_type, :include_blank => false
      \ on
      = f.input :time, :as => :string, :input_html => { :type => "date", :class => 'ui-date-picker', :size => 9 ,:value => @job.time.strftime("%b %d, %Y")}, :placeholder => "a date"
      %span#time{ :class => "#{@time_class}" }
        \ at
        = f.input :time, :as => :time, :ignore_date => true, :ampm => true, :default => Time.now.change(:hour => 19, :min => 00), :minute_step => 15,:time_separator => ":",:datetime_separator => "", :start_hour => 9,:end_hour => 24
      \ for
      = f.input :duration, :collection => @num_collection, :include_blank => false


      \ 
      %span#units 
        #{@job.job_type.work_unit.name}s,
      \ worth
      = f.input :stars, :collection => @star_collection, :include_blank => false
      \.
      %p.more 
        //= f.input :description, :as => :string, :input_html => { :size => :auto }

    .actions
      = f.button :submit
        