- require "json"
- @is_misc = @job.job_type.is_misc
- @num_collection = [["one",1],["two",2],["three",3],["four",4],["five",5],["six",6],["seven",7],["eight",8],["nine",9],["ten",10],["eleven",11],["twelve",12]]
- @star_collection = [["one star",1],["two stars",2],["three stars",3],["four stars",4],["five stars",5]]
- @time_class = ""
- @duration_class = ""
- if @job.job_type.work_unit.hours > 23
  - @time_class = "hide"
- if @is_misc
  - @time_class = "hide"
  - @duration_class = "hide"

:javascript
  var $job_types = [];
  #{
    Array[@job_types.map { |r| "$job_types[#{r.id}] = {'name':'#{r.name}','stars':'#{r.stars}','unit':'#{r.work_unit.name}','hours':'#{r.work_unit.hours}','is_misc':#{r.is_misc}};" }].join ' '
  }

%section  
  = simple_form_for @job do |f|
    = f.error_notification
    .madlibs
      I want a    
      = f.association :job_type, :include_blank => false
      %span#date
        \ on
        = f.input :time, :as => :string, :input_html => { :type => "date", :class => 'datepicker', :size => "10" ,:value => @job.time.strftime("%b %d, %Y")}, :placeholder => "a date"
      %span#time{ :class => "#{@time_class}" }
        \ at
        = f.input :time, :as => :string, :input_html => { :value => @job.time.strftime("%H"), :size => "1" }
        \:
        = f.input :time, :as => :string, :input_html => { :value => @job.time.strftime("%M"), :size => "1" }
        = f.input :time, :as => :string, :input_html => { :value => @job.time.strftime("%p"), :size => "1" }
        
      %span#duration{ :class => "#{@duration_class}" }
        \ for
        = f.input :duration, :collection => @num_collection, :include_blank => false
        \ 
        %span#units{ :class => "#{@units_class}" }
          #{ @job.job_type.work_unit.name },
      \ worth
      = f.input :stars, :collection => @star_collection, :include_blank => false
      \.
      %p.more 
        = f.input :description,  :input_html => { :placeholder => "[more details]", :rows => 1 }

    .actions
      = f.button :submit
        