- content_for:title, "#{@job.job_type} for #{@job.user} on #{@job.date}"

%p
  %b Type:
  = @job.job_type
%p
  %b Stars:
  = @job.stars
%p
  %b Date:
  = @job.date
%p
  %b Time:
  = @job.time
%p
  %b Description:
  = @job.description
= link_to 'Edit', edit_job_path(@job)
|
\#{link_to 'Back', jobs_path}
