- content_for:title, "Sign up for #{@job.job_type} for #{@job.user} on #{@job.date}"

- if @job.worker == @current_user
  %p
    You successfully signed up for
    %b
      #{@job.job_type} for #{@job.user} on #{@job.date}
    .
    
  %p
    =link_to 'Find out more', job
  %p Thanks!
