= simple_form_for @user do |f|
  .inputs
    = f.input :name
    = f.input :stars
    = f.input :location
    = f.input :time_zone, :priority => /US/
    = f.input :email
  .actions
    = f.button :submit