= simple_form_for @user, :html => { :multipart => true } do |f|
  .inputs
    = f.input :name
    = f.input :stars
    = f.input :location
    = f.input :timezone_offset, :collection => User::TZ_MAPPING.invert()
    = f.input :phone
    = f.input :email
    = f.file_field :avatar
  .actions
    = f.button :submit