= simple_form_for @user do |f|
  .inputs
    = f.input :name
    = f.input :stars
    = f.input :location
    = f.input :timezone_offset, :collection => User::TZ_MAPPING.invert()
    = f.input :email
  .actions
    = f.button :submit