%p.thumb 
  = image_tag ("shared/thumb-frame.png"), :class => "frame"
  = image_tag job.user.avatar.url(:mobile), :class => "pic"
- if view == "friends_req"
  %p.actions
    =link_to "Yes", sign_up_for_job_path(job) , :class => "yes"
    =link_to "No", turndown_job_path(job) , :class => "no"
%p.description
  .who
    - if job.worker == current_user || view == "open_req"
      You
    - else
      - if view == "upcoming"
        #{job.worker}
      - else
        #{job.user} 
  .what
    - if view == "upcoming"
      #{job.job_type.future} for 
      - if job.user == current_user
        you
      - else
        #{job.user}
        
    - else
      - if view == "friends_req"
        wants
      - else
        want
      a #{job.job_type}
  .when
    %b=job.date.strftime("%b %d")
    - unless job.job_type.is_misc
      - if job.work_unit.hours < 23
        from #{ job.time_in_zone.strftime("%-l%P") }-#{ job.endtime_in_zone.strftime("%-l%P") }
      - else
        - job.date.strftime("%b %d")
.detail
  %p.amount
    %span{:class => "stars stars_#{job.stars}"}
  %p.description=job.description