
- unless @user.potential_jobs.empty?
  %section
    %h3 Can you help?
    %ul
      - @user.potential_jobs.each do |job|
        %li
          %p.description
            #{ link_to "#{job.user} needs a #{job.job_type}", job_details_path(job), :class => "fancybox fancybox.ajax"  } on
            %b=job.date.strftime("%b %d")
            - unless job.job_type.is_misc
              - if job.work_unit.hours < 23
                starting at #{ job.time_in_zone.strftime("%I:%M%p (%Z)") } 
              for #{ pluralize( job.duration, job.work_unit.name ) } 
          %p.detail
            #{job.user} is offering #{ pluralize( job.stars, "star" ) }
          %p.action
            =link_to "I can do it", sign_up_for_job_path(job) , :class => "button small"
            =link_to "Sorry, I can't do it", turndown_job_path(job) , :class => "link"