- content_for:title, @user.name
  
%ul.subnav#subnav
  %li.first#upcoming
    Scheduled
    - unless @user.upcoming_jobs.empty?
      %span.number #{@user.upcoming_jobs.size}
  %li.on#friends_req
    Friends Req
    - unless @user.potential_jobs.empty?
      %span.number #{@user.potential_jobs.size}
  %li.last#open_req
    Open Req
    - unless @user.future_open_jobs.empty?
      %span.number #{@user.future_open_jobs.size}

%section#upcoming_list.listing
  - unless @user.upcoming_jobs.empty?
    %ul
      - @user.upcoming_jobs.each do |job|
        %li
          = render "job_listing", :job => job, :view => "upcoming"
  - else
    %p
      You do not have any scheduled jobs

%section#friends_req_list.listing.on
  - unless @user.potential_jobs.empty?
    %ul
      - @user.potential_jobs.each do |job|
        %li
          = render "job_listing", :job => job, :view => "friends_req"
  - else
    %p
      Your friends have not currently requested any jobs
              
%section#open_req_list.listing
  - unless @user.future_open_jobs.empty?
    %ul
      - @user.future_open_jobs.each do |job|
        %li
          = render "job_listing", :job => job, :view => "open_req"
  - else
    %p
      You are not waiting on any job requests
            

        