- content_for:title, @user.name
  
%ul.subnav#subnav
  %li.first#upcoming
    Scheduled
  %li.on#friend_req
    Friends Req
  %li.last#open_req
    Open Req

- unless @user.upcoming_jobs.empty?
  %section#upcoming_list.listing
    %ul
      - @user.upcoming_jobs.each do |job|
        %li
          - if job.user == current_user
            = render 'job_listing'
            #{ link_to "#{job.worker} #{job.job_type.future} for you on #{ job.date.strftime("%B %d") }", job_details_path(job) }
          -else
            #{ link_to "You #{job.job_type.future} for #{job.user} on #{ job.date.strftime("%B %d") }", job_details_path(job) }

- unless @user.potential_jobs.empty?
  %section#friends_req_list.listing.on
    %ul
      - @user.potential_jobs.each do |job|
        %li
          = render 'job_listing'
              
- unless @user.future_open_jobs.empty?
  %section#open_req_list.listing
    %ul
      - @user.future_open_jobs.each do |job|
        %li
          #{ link_to "On #{ job.created_at.strftime("%B %d") } you asked for a #{job.job_type} for #{ job.date.strftime("%B %d") }", job_details_path(job) }
            

        