- content_for:title, @user.name
%section
  %b Stars:
  = @user.stars
  
%section
  %h3 I need a
  %table
    %tr
      %th Type
      %th Stars
      %th Date
      %th Status
    - @user.jobs.each do |job|
      %tr
        %td= link_to job.job_type, job_path(job)
        %td= job.stars
        %td= job.date
        %td= job.status_msg
    %tr
      %td= link_to "I need something else", new_job_path()
      %td
      %td
      %td

%section
  %h3 Do I want to...
  %ul.questions
    - @user.potential_jobs.each do |job|
      %li
        be a
        =link_to job.job_type, job_path(job)
        for 
        =job.user
        on
        %b=job.date.strftime("%b %d")
        for
        = job.stars
        star?
        %p
          %button Take It
          %button Sorry  
          
- if @user.upcoming_work_jobs.size > 0
  - content_for:aside do
    %h3 I'm signed up to...
    %ul.questions    
      - @user.upcoming_work_jobs.each do |job|
        %li
          be a
          = link_to job.job_type, job_path(job)
          for 
          =job.user
          on
          %b=job.date.strftime("%b %d")
          for
          = job.stars
          star
        