- content_for:title, @user.name
%section
  %b You have #{ pluralize( @user.stars, "star" ) } available.
  
%section.actions
  = link_to 'Ask a favor', new_job_path, :class => "button"
  = link_to 'Invite friend', new_user_invitation_path, :class => "button"

- content_for:aside do
  = render "potential_jobs"

- unless @user.upcoming_jobs.empty?
  %section
    %h3 Upcoming favors        
    %ul
      - @user.upcoming_jobs.each do |job|
        %li
          - if job.user == current_user
            #{ link_to "#{job.worker} #{job.job_type.future} for you on #{ job.date.strftime("%B %d") }", job_details_path(job), :class => "fancybox fancybox.ajax" }
          -else
            #{ link_to "You #{job.job_type.future} for #{job.user} on #{ job.date.strftime("%B %d") }", job_details_path(job), :class => "fancybox fancybox.ajax" }
            
- unless @user.future_open_jobs.empty?
  %section
    %h3 Waiting for a favor       
    %ul
      - @user.future_open_jobs.each do |job|
        %li
          #{ link_to "On #{ job.created_at.strftime("%B %d") } you asked for a #{job.job_type} for #{ job.date.strftime("%B %d") }", job_details_path(job), :class => "fancybox fancybox.ajax"  }
            

        