- content_for:title, @user.name
%section
  %b You have #{ pluralize( @user.stars, "star" ) } available.
  
%section
  %h3 I need a... 
  %ul
    - @job_types.each do |job_type|
      %li
        #{ link_to job_type, "#{new_job_path}\?job_type_id=#{job_type.id}" }

- unless @user.future_jobs.empty?
  %section
    %h3 I have asked for a...        
    %ul
      - @user.future_jobs.each do |job|
        %li
          #{ link_to job.job_type, job_path(job) } on #{ job.date }
          ( #{ job.status_msg } )

= render "potential_jobs"
          
- unless @user.upcoming_work_jobs.empty?
  - content_for:aside do
    %h3 I'm signed up to...
    %ul    
      - @user.upcoming_work_jobs.each do |job|
        %li
          be a
          = link_to job.job_type, job_path(job)
          for 
          =job.user
          on
          %b=job.date.strftime("%b %d")
          for
          = job.stars
          star
        