- content_for:title, "Facebook friends"
- @page_name = 'facebook'
= render 'users/invitations/tabs'

%section
  %ul.facepile
    - @friends.each do |friend|
      %li 
        %img{:src => "#{friend.picture}"}
        - if friend.installed
          - local_user = find_user_from_facebook( :uid => friend.identifier )
          - if local_user

            - if !current_user.circle.users.include?( local_user )
              =link_to local_user.name, local_user
              Add #{get_pronoun_from_user(friend)} to your circle
            - else
              =link_to local_user.name, local_user
              is in your circle already
        - else
          %span= friend.name
        %a.facebook_invite{:id=>friend.identifier} Invite
        #{get_pronoun_from_user(friend)} to your circle

%section
  %div#fb-root
  %script{:src=>"http://connect.facebook.net/en_US/all.js"}
  :javascript
    FACEBOOK_APP_ID = "#{FACEBOOK_APP_ID}";
    
