%p#notice= notice
%p
  %b Name:
  = @user.name
%p
  %b Stars:
  = @user.stars
%p
  %b Location:
  = @user.location
%p
  %b Email:
  = @user.email
%p
  %b Worked Jobs:
  = @user.work_jobs
%p
  %b Timezone:
  = @user.timezone
  = Time
%p
  %b Jobs:
  - @user.jobs.each do |job|
    = link_to job, job_path(job)
    
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
