%p.thumb 
  = image_tag ("shared/thumb-frame.png"), :class => "frame"
  = image_tag @user.avatar.url(:mobile), :class => "pic", :bucket => "PoppyGo-dev"

  = @user.name
%p
  %b Stars:
  = @user.stars
%p
  %b Location:
  = @user.location
%p
  %b Email:
  = @user.email
%p
  %b Timezone:
  = @user.timezone
  = Time
    
= link_to 'Edit', edit_user_path(@user)
