%h2 Forgot your password?
%section.signin
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = f.error_notification
    .inputs
      = f.input :email, :required => true, :placeholder => "your email"
    .actions
      = f.button :submit, "Send"
  = render "devise/shared/links"
