%section
  %h2 Welcome to Circletime! 

  = link_to 'Login with Facebook', '/users/auth/facebook/', :html => { :class => "button facebook"}

  = simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| 
    .inputs
      = f.hidden_field :invitation_token
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
    .actions
      = f.submit "Set my password"
