
%section
  %h3 People in my circle
  %table
    %tr
      %th Name
      %th Action
    - @circle.users.each do |friend|
      %tr
        %td= friend
        %td= link_to "X", remove_member_from_circle_path(friend.id), :method=>:delete
    %tr
      %td= link_to "invite another", new_user_invitation_path()
      %td

%section
  %h3 Circles I Am In:
  %table
    %tr
      %th Friend
      %th Action
    - current_user.circle_memberships.each do |circle|
      %tr
        %td= circle    
        - unless current_user.circle.users.include?( circle.user )
          %td= link_to "Add to my circle", add_member_to_circle_path( circle.user ), :method=>:post

