%h1 Your circles
%table
  %tr
    %th Name
    %th
    %th
    %th
    %tr
      %td= @circle.name
      %td= link_to 'Show', @circle
      %td= link_to 'Edit', edit_circle_path(@circle)
      %td= link_to 'Destroy', @circle, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Circle', new_circle_path
