%html
  %head
    %title Circletime
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1= link_to "Circletime", :root
    %ul.user_nav
      - if user_signed_in?
        %li
          Welcome 
          = link_to current_user.name, dashboard_path(current_user)       
        %li= link_to "logout", destroy_user_session_path, :method => :delete
      - else
        %li= link_to 'Login with Facebook', '/auth/facebook/'
    - if user_signed_in?
      %ul
        %li= link_to 'Invite a Friend', new_user_invitation_path
        %li= link_to 'Your Circle', circles_path
        %li= link_to 'Create a Job', jobs_path
    = yield
