<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!

- @main_class = content_for?(:aside) ? "has_aside" : "no_aside"

%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= content_for?(:title) ? yield(:title) : "Poppygo"
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    /= stylesheet_link_tag   'http://fonts.googleapis.com/css?family=Architects+Daughter'
    
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
    = favicon_link_tag 'shared/cup-of-sugar.png', :type => 'image/png'
    
    /[if lt IE 9]
      %script{ :src => "js/libs/html5-3.4-respond-1.1.0.min.js" }
  %body{ :id => to_slug( "#{controller.controller_path}-#{controller.action_name}" ), :class => to_slug( "#{controller.controller_path}" ) }
    #header-container
      %header
        #title
          = link_to "Poppygo", :root
        - if user_signed_in?
          #ask
            = link_to 'Ask', new_job_path, :class => "button"
    / #header-container
    
    - unless flash.empty? || ( flash[:alert].blank? && flash[:notice].blank? && flash[:error].blank? && flash[:message].blank? )
      #messaging
        - [:alert, :notice, :error, :message].each do |key| 
          - unless flash[key].blank? 
            %p{ :class => "flash flash_#{key}" }= flash[key]

    #main-container{:class => @main_class}
      #main.wrapper.clearfix
        - if content_for?(:aside)
          %aside= yield :aside
        %article
          = yield
      / #main
    / #main-container
    - if user_signed_in?
      #footer-container
        %footer
          %nav
            %ul
              %li= link_to 'Invite friends', new_user_invitation_path, :class => "invite"
              %li= link_to "Dashboard", :root, :class => "dashboard"
              %li= link_to 'Account', user_path(:id => current_user.id), :class => "account"
      / #footer-container

  :javascript
    var _gaq=[["_setAccount","#{ GOOGLE_ACCOUNT_ID }"],["_trackPageview"],["_trackPageLoadTime"]];
    //since we're in not production, set the domainName to none
    #{Rails.env.production? ? '': "_gaq.push(['_setDomainName', 'none']);"}
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));        
  = javascript_include_tag  "application"    
