%html
  %head
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    %title Circletime
    = javascript_include_tag  "application"
    - if (ENV['RAILS_ENV']=='development')
      = stylesheet_link_tag     "http://f.fontdeck.com/s/css/Ejh9NZvG+vyk1dvMsJtcSfagWLs/localhost/9017.css"
    - elsif (ENV['RAILS_ENV']=='production')
      = stylesheet_link_tag     "http://f.fontdeck.com/s/css/Ejh9NZvG+vyk1dvMsJtcSfagWLs/circletime.heroku.com/18062.css"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    %header
      %h1= link_to "Circletime", :root
        
      %nav#user_nav
        - if user_signed_in?
          = link_to "Welcome "+current_user.name, dashboard_path(current_user)       
          = link_to "logout", destroy_user_session_path, :method => :delete
        - else
          = link_to 'Login with Facebook', '/auth/facebook/'

    %section#messaging
      - [:notice, :error, :message].each do |key| 
        - unless flash[key].blank? 
          %p{ :class => "flash flash_#{key}" }= flash[key]
    
    %section#content
      = yield

    %footer
      - if user_signed_in?
        %nav#action_nav
          = link_to 'Invite a Friend', new_user_invitation_path
          = link_to 'Your Circle', circles_path
          = link_to 'Create a Job', new_job_path
    